.darkmode{
    --white: #2b2b2b;
    --green: #03A045;
    --dark-blue: #ffff;
    --light-gray: #F2F2F2;
    --light-green: #03A04533;
    --gray: #BFBFBF;
    --dark-gray: #545454; 
    --rodape-white: #ffffff;
    --rodape-blue: #3F3D56;
    
}


:root {
    --white: #ffffff;
    --green: #03A045;
    --dark-blue: #3F3D56;
    --light-gray: #F2F2F2;
    --light-green: #03A04533;
    --gray: #BFBFBF;
    --dark-gray: #545454; 
    --rodape-white: #ffffff;
    --rodape-blue: #3F3D56;
}

